/* input:invalid[focused="true"] ~ span {
    display: block;
} */
input:not(:focus):not(:placeholder-shown):invalid ~ span {
  display: block;
}
/* input:invalid[focused="true"] {
   border-bottom: 1px solid red;
}   
 */
input:not(:focus):not(:placeholder-shown):invalid {
  border-bottom: 1px solid red;
}

input[type='date'] {
  border-bottom: 1px solid #ddd !important;
}
